.Button{
    display: block;
    padding: 2% 0;
    width: 274px;
    border: none;
    border-radius: 5px;
    background-color: #6346B4;
    color: #fff;
    text-align: center;
}

.Button:hover{
    background-color: #A88EF0;
}

.Button:active{
    background-color: #311F63;
}

.Button input {
    display: none;
    width: 274px;
    height: 48px;
}