@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root{
  background-color: #CBCBCB;
}

.App {
  font-family: 'Noto Sans';
  font-size: 12px;
  font-weight: 400;
}

.errorReques {
  font-size: 20px;
  display: inline-block;
  margin: 2% 33vw;
  padding: 2%;
  box-shadow: 2px 4px 9.899999618530273px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: #FF6565;
  color: #fff;
}